<style>
  a { background: salmon; color: white; }
</style>
<p>Hi, Boss</p>
<p>A user with the email {{values.email}} wants to register</p>
<p>Tax returns:</p>
<img src={{values.taxReturnsPicture}} />
<br />
<a href={{link}}>Confirm Registration</a>
